DATABASE_URL=postgresql://postgres.ioptqerujaenqjqikbqe:YOUR-PASSWORD@aws-0-us-west-2.pooler.supabase.com:6543/postgres
DB_HOST=aws-0-us-west-2.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_USER=postgres.ioptqerujaenqjqikbqe
DB_PASSWORD=your-supabase-database-password
DB_SSL=true
DB_SSL_CA=certs/prod-ca-2021.crt
JWT_SECRET=
PORT=4000
CLIENT_URL=http://localhost:5173
TURNSTILE_SECRET_KEY=
RESEND_API_KEY=
EMAIL_FROM=
